@import url('https://fonts.googleleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15%;
    background-color: black;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links { 
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button { 
    padding: 10px 30px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136, 169, 0.8);
}

.logo { 
    position: relative;
    top: 55px;
    left: 55px;
    width: 150px;
    height: auto;
    cursor: pointer;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.footer_container {
    display: flex;
    background-color: black;
    width: 100%;
    height: 300px;
}

.footer_grid_text {
    position: relative;
    top: 50px;
    left: 100px;
    color: white;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
}

.footer_grid_list {
    position: relative;
    top: 75px;
    left: 100px;
    list-style: none; 
}

.footer_grid_list li {
    padding: 10px;
}

.footer_grid_list a {
    font-size: 20px;
}

.footer_grid_text2 {
   position: relative;
   left: 350px;
   bottom: 156px;
   color: white;
   font-size: 28px;
   font-family: "Montserrat", sans-serif;
}

.footer_grid_list2 {
    position: relative;
    left: 350px;
    bottom: 135px;
    list-style: none;
}

.footer_grid_list2 li {
    padding: 10px;
}

.footer_grid_list2 a {
    font-size: 20px;
}
